openapi: 3.0.0
info:
  title: Acorn Hunt Game Microservice
  description: |
    API to perform in-game actions
  version: 1.0.0

servers:
  - description: dev
    url: https://pmizqmbanw.us-east-1.awsapprunner.com

tags:
  - name: in-game
    description: Interactions while in a game
  - name: navigation
    description: Navigation operations for games

paths:
  /games:
    post:
      summary: Create a new game
      operationId: createGame
      tags:
        - navigation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/newGame'
      responses:
        201:
          description: The game was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/id'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/UnknownError'
    get:
      summary: Get a list of all games
      operationId: listGames
      tags:
        - navigation
      responses:
        200:
          description: The game was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gameList'
        500:
          $ref: '#/components/responses/UnknownError'

  /games/{gameId}/players:
    parameters:
      - $ref: '#/components/parameters/gameId'
    post:
      summary: Join a game
      operationId: joinGame      
      tags:
        - navigation
      responses:
        204:
          $ref: '#/components/responses/NoContent'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/UnknownError'
    delete:
      summary: Leave a game
      operationId: leaveGame
      tags:
        - navigation
      responses:
        204:
          $ref: '#/components/responses/NoContent'
        500:
          $ref: '#/components/responses/UnknownError'

  /movements:
    post:
      summary: Move your character
      operationId: move
      tags:
        - in-game
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - direction
              properties:
                count:
                  type: string
                  enum:
                    - left
                    - up
                    - down
                    - right                  
      responses:
        200:
          description: The movement was successful
          content:
            application/json:
              schema:
                type: object
                required:
                  - x
                  - y
                properties:
                  x:
                    type: integer
                  y: 
                    type: integer
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/UnknownError'

  /super-abilities:
    post:
      summary: Increase super-ability count
      operationId: increaseSuperAbility
      tags:
        - in-game
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - count
              properties:
                count:
                  type: integer
                  minimum: 1
                  maximum: 3                
      responses:
        200:
          description: The uses were added to the caller
          content:
            application/json:
              schema:
                type: object
                required:
                  - remaining
                properties:
                  remaining:
                    type: integer
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/UnknownError'
    delete:
      summary: Use a super-ability
      operationId: decreaseSuperAbility
      tags:
        - in-game
      responses:
        200:
          description: The super-ability count decreased
          content:
            application/json:
              schema:
                type: object
                required:
                  - remaining
                properties:
                  remaining:
                    type: integer
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/UnknownError'

  /leaderboards:
    get:
      parameters:
        - name: order
          in: query
          description: Determines if leaderboard is returned in ascending or descending point order
          schema:
            type: string
            enum: [asc, desc]
        - name: top
          in: query
          description: Limits the number of results
          schema:
            type: integer
            minimum: 1
            maximum: 20
      summary: Get the scores of all players
      operationId: getLeaderboard
      tags:
        - in-game
      responses:
        200:
          description: The leaderboard is returned
          content:
            application/json:
              schema:
                type: object
                required:
                  - leaderboard
                properties:
                  leaderboard:
                    type: array
                    items:
                      type: object
                      required:
                        - rank
                        - username
                        - score
                      properties:
                        rank:
                          type: integer
                        username:
                          type: string
                        score:
                          type: integer
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/UnknownError'

components:
  parameters:
    gameId:
      name: gameId
      in: path
      required: true
      schema:
        type: string

  schemas:
    id:
      description: Identifier of a newly created resource
      type: object
      properties:
        id:
          type: string

    newGame:
      description: Input for creating a new game
      type: object
      required:
        - duration
        - name
      properties:
        duration:
          type: integer
          minimum: 60
          maximum: 7200
        name:
          type: string
          minLength: 3
          maxLength: 20
        mapId:
          type: string
        isRanked:
          type: boolean

    gameList:
      description: List of open games
      type: array
      items:
        type: object
        properties:
          id: 
            type: string
          name:
            type: string

  responses:
    BadRequest:
      description: Invalid input was provided
      content:
        application/json:
          schema:
            type: object
            required:
              - message
            properties:
              message:
                type: string
                example: Invalid input was provided

    Conflict:
      description: Unable to process request due to the state of the entity
      content:
        application/json:
          schema:
            type: object
            required:
              - message
            properties:
              message:
                type: string
                example: You are not part of an active game

    NoContent:
      description: The request completed successfully and there is nothing to return

    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema: 
            type: object
            required:
              - message
            properties:
              message:
                type: string
                example: Game not found

    UnknownError:
      description: An unexpected error occurred on the server.
      content:
        application/json:
          schema:
            type: object
            required:
              - message
            properties:
              message:
                type: string
                description: Unknown error message
                example: An unexpected error occurred.